### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"]) 
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [4]:
Total_Schools = school_data_complete["school_name"].nunique() 
print('Total Schools =  ', Total_Schools)

Total_Students = school_data_complete["student_name"].nunique()
print('Total Students =  ', Total_Students)

Total_Budget = school_data_complete['budget'].sum()
print('Total Budget =  ', Total_Budget)

Avg_math_score = round(school_data_complete["math_score"].mean(),1)
print('Avg math score =  ', Avg_math_score)

Avg_reading_score = round(school_data_complete["reading_score"].mean(),1)
print('Avg reading score =  ', Avg_reading_score) 

#Finding the amount of math scores grater than 70
Math_score_filter = school_data_complete['math_score'] > 70 
#print(Math_score_filter)


filtered_math = school_data_complete['math_score'][Math_score_filter]
#print(filtered_math) 

Count_mScore_above_seventy = len(filtered_math.index) 
print('# of students with math scores above 70 =  ',Count_mScore_above_seventy)

Math_score_percent_greater_seventy = (Count_mScore_above_seventy/Total_Students)*100
print('% of students with math score above 70 =  ', Math_score_percent_greater_seventy) 

#Finding the amount of reading scores grater than 70
Reading_score_filter = school_data_complete['reading_score'] > 70 
#print(Reading_score_filter)


filtered_reading = school_data_complete['reading_score'][Reading_score_filter]
#print(filtered_reading) 

Count_rScore_above_seventy = len(filtered_reading.index) 
print('# of students with reading scores above 70 =  ',Count_rScore_above_seventy)

Reading_score_percent_greater_seventy = (Count_rScore_above_seventy/Total_Students)*100
print('% of students with reading scores above 70 =  ', Reading_score_percent_greater_seventy)

#Overall Passing Rate
overall_passing_rate = ((Math_score_percent_greater_seventy + Reading_score_percent_greater_seventy)/2)
print('The overall passing rate is = ', overall_passing_rate)

Total Schools =   15
Total Students =   32715
Total Budget =   82932329558
Avg math score =   79.0
Avg reading score =   81.9
# of students with math scores above 70 =   28356
% of students with math score above 70 =   86.67583677212288
# of students with reading scores above 70 =   32500
% of students with reading scores above 70 =   99.34280910897142
The overall passing rate is =  93.00932294054715

## School Summary

In [5]:
data = [{"Total Schools":Total_Schools,
"Total Students":Total_Students,
"Total Budget":Total_Budget,
"Avg math score":Avg_math_score,
"Avg reading score":Avg_reading_score, 
"% of students with math scores above 70":Math_score_percent_greater_seventy,
"% of students with reading scores above 70":Reading_score_percent_greater_seventy, "The overall passing rate":overall_passing_rate}] 

District_summary_df = pd.DataFrame(data) 
District_summary_df

,Total Schools,Total Students,Total Budget,Avg math score,Avg reading score,% of students with math scores above 70,% of students with reading scores above 70,The overall passing rate
0,15,32715,82932329558,79.0,81.9,86.675837,99.342809,93.009323

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
school_names = sorted(school_data_complete['school_name'].unique())
school_names

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [7]:
school_type = school_data.set_index(["school_name"])["type"]
school_type 


school_types = ['District','Charter', 'District', 'District', 'Charter','District','Charter','District','District','Charter', 
               'District', 'Charter','Charter','Charter','Charter']

In [8]:
#total students per school
total_students_per_schools = school_data_complete['school_name'].value_counts()
total_students_per_schools

total_students_per_school= [4976,1858,2949,2739,1468,4635,427,2917,4761,962, 3999,1761,1635, 2283, 1800]

In [9]:
#total school budget
budget_per_school = school_data_complete.groupby(["school_name"]).mean()["budget"]
budget_per_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [10]:
#budget per student 
budget_per_student = budget_per_school/total_students_per_school
budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
Name: budget, dtype: float64

In [11]:
#Average math Score
#total math score per school
avg_math_scores = round(school_data_complete.groupby(["school_name"]).mean()["math_score"],2)
avg_math_scores

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [12]:
#students passing math by schools
students_passing_math = school_data_complete[(school_data_complete["math_score"]>70)]
students_passing_math_per_school = students_passing_math.groupby(["school_name"]).count()["student_name"]
percentage_passing_math_schools = round((students_passing_math_per_school/total_students_per_school)*100,2)
percentage_passing_math_schools

school_name
Bailey High School       64.63
Cabrera High School      89.56
Figueroa High School     63.75
Ford High School         65.75
Griffin High School      89.71
Hernandez High School    64.75
Holden High School       90.63
Huang High School        63.32
Johnson High School      63.85
Pena High School         91.68
Rodriguez High School    64.07
Shelton High School      89.89
Thomas High School       90.21
Wilson High School       90.93
Wright High School       90.28
Name: student_name, dtype: float64

In [13]:
#avergae reading scores per school
#total reading scores per school
avg_reading_scores = round(school_data_complete.groupby(["school_name"]).mean()["reading_score"],2)
avg_reading_scores

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [35]:
#students passing reading by schools
students_passing_reading = school_data_complete[(school_data_complete["reading_score"]>70)]
students_passing_reading_per_school = students_passing_math.groupby(["school_name"]).count()["student_name"]
percentage_passing_reading_schools = ((students_passing_reading_per_school/total_students_per_school)*100)
percentage_passing_reading_schools

school_name
Bailey High School       64.630225
Cabrera High School      89.558665
Figueroa High School     63.750424
Ford High School         65.753925
Griffin High School      89.713896
Hernandez High School    64.746494
Holden High School       90.632319
Huang High School        63.318478
Johnson High School      63.852132
Pena High School         91.683992
Rodriguez High School    64.066017
Shelton High School      89.892107
Thomas High School       90.214067
Wilson High School       90.932983
Wright High School       90.277778
Name: student_name, dtype: float64

In [39]:
#overall passing rate per school 
overall_passing_rate_schools = (percentage_passing_math_schools + percentage_passing_reading_schools)/2
overall_passing_rate_schools 
#Not sure why this is giving me the same % as percentage_passing_reading_schools

school_name
Bailey High School       64.630113
Cabrera High School      89.559333
Figueroa High School     63.750212
Ford High School         65.751962
Griffin High School      89.711948
Hernandez High School    64.748247
Holden High School       90.631159
Huang High School        63.319239
Johnson High School      63.851066
Pena High School         91.681996
Rodriguez High School    64.068008
Shelton High School      89.891053
Thomas High School       90.212034
Wilson High School       90.931491
Wright High School       90.278889
Name: student_name, dtype: float64

In [40]:
                            
list_of_tuples = list(zip(school_types, total_students_per_school, budget_per_school, 
                          budget_per_student, avg_math_scores,avg_reading_scores, percentage_passing_math_schools,
                            percentage_passing_reading_schools, overall_passing_rate_schools))  
    
# Assign data to tuples.  
list_of_tuples   
  
  
# Converting lists of tuples into  
# pandas Dataframe.  
school_summary_df = pd.DataFrame( list_of_tuples, index = school_names, columns = ["School Type",
                                "Total Students",
                                 "Total School Budget",
                                  "Budget per student",
                                 "Average Math Score",
                                 "Average Reading Score",
                                 "% Passing Math per school",
                                 "% Passing Reading per school",
                                 "Overall Passing rate"])  
     
# Print data.  
school_summary_df

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math per school,% Passing Reading per school,Overall Passing rate
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,64.63,64.630225,64.630113
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,89.56,89.558665,89.559333
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,63.75,63.750424,63.750212
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,65.75,65.753925,65.751962
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,89.71,89.713896,89.711948
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,64.75,64.746494,64.748247
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,90.63,90.632319,90.631159
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,63.32,63.318478,63.319239
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,63.85,63.852132,63.851066
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,91.68,91.683992,91.681996
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,64.07,64.066017,64.068008
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,89.89,89.892107,89.891053
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,90.21,90.214067,90.212034
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,90.93,90.932983,90.931491
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,90.28,90.277778,90.278889

## Top Performing Schools (By % Overall Passing)

In [17]:
top_performing_schools = school_summary_df.sort_values(["Overall Passing rate"],ascending = False).head(5)
top_performing_schools

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math per school,% Passing Reading per school,Overall Passing rate
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,91.68,91.68,91.68
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,90.93,90.93,90.93
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,90.63,90.63,90.63
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,90.28,90.28,90.28
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,90.21,90.21,90.21

* Sort and display the top five performing schools by % overall passing.

In [18]:
bottom_five_schools = school_summary_df.sort_values(["Overall Passing rate"],ascending = False).tail(5)
bottom_five_schools

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math per school,% Passing Reading per school,Overall Passing rate
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,64.63,64.63,64.63
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,64.07,64.07,64.07
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,63.85,63.85,63.85
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,63.75,63.75,63.75
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,63.32,63.32,63.32

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [19]:
avg_math_scores_grade = round(school_data_complete.groupby(["grade"]).mean()["math_score"],2)
avg_math_scores_grade

grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [20]:
avg_reading_score_grade = round(school_data_complete.groupby(["grade"]).mean()["reading_score"],2)
avg_reading_score_grade

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [21]:
#create bins in which data will be held
bins = [0, 583, 590, 645, 675]
names = ["Less than $590", "$590-615", "$615-645", "$645-675"]

#categorize the spendings 
school_summary_df["Spending Ranges (Per Student)"] = pd.cut(budget_per_student,bins,labels = names)
school_summary_df

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math per school,% Passing Reading per school,Overall Passing rate,Spending Ranges (Per Student)
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,64.63,64.63,64.63,$615-645
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,89.56,89.56,89.56,Less than $590
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,63.75,63.75,63.75,$615-645
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,65.75,65.75,65.75,$615-645
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,89.71,89.71,89.71,$615-645
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,64.75,64.75,64.75,$645-675
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,90.63,90.63,90.63,Less than $590
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,63.32,63.32,63.32,$645-675
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,63.85,63.85,63.85,$645-675
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,91.68,91.68,91.68,$615-645
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,64.07,64.07,64.07,$615-645
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,89.89,89.89,89.89,$615-645
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,90.21,90.21,90.21,$615-645
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,90.93,90.93,90.93,Less than $590
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,90.28,90.28,90.28,Less than $590

## Scores by School Size

* Perform the same operations as above, based on school size.

In [22]:
#create bins in which data will be held
bins2 = [0,1500,3000,4976]
names2 = ["Small","Medium","Large"]

#categorize the size 
school_summary_df["Student body size"] = pd.cut(total_students_per_school, bins2, labels = names2)
school_summary_df

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math per school,% Passing Reading per school,Overall Passing rate,Spending Ranges (Per Student),Student body size
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,64.63,64.63,64.63,$615-645,Large
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,89.56,89.56,89.56,Less than $590,Medium
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,63.75,63.75,63.75,$615-645,Medium
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,65.75,65.75,65.75,$615-645,Medium
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,89.71,89.71,89.71,$615-645,Small
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,64.75,64.75,64.75,$645-675,Large
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,90.63,90.63,90.63,Less than $590,Small
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,63.32,63.32,63.32,$645-675,Medium
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,63.85,63.85,63.85,$645-675,Large
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,91.68,91.68,91.68,$615-645,Small
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,64.07,64.07,64.07,$615-645,Large
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,89.89,89.89,89.89,$615-645,Medium
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,90.21,90.21,90.21,$615-645,Medium
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,90.93,90.93,90.93,Less than $590,Medium
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,90.28,90.28,90.28,Less than $590,Medium

## Scores by School Type

* Perform the same operations as above, based on school type

In [26]:
avg_math_score_type = school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
avg_reading_score_type = school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
percentage_passing_math_type = school_summary_df.groupby(["School Type"]).mean()["% Passing Math per school"]
percentage_passing_reading_type = school_summary_df.groupby(["School Type"]) (percentage_passing_math_type + percentage_passing_reading_type)
overall_passing_rate_type = school_summary_df.groupby(["School Type"]).mean()["Overall Passing rate"]

TypeError: 'DataFrameGroupBy' object is not callable

In [24]:
scores_school_type = pd.DataFrame({"Average Math Score":avg_math_score_type,
                                  "Average Reading Score":avg_reading_score_type,
                                  "% Passing Math":percentage_passing_math_type,
                                  "% Passing Reading":percentage_passing_reading_type,
                                  "Overall Passing rate":overall_passing_rate_type})

scores_school_type = scores_school_type[["Average Math Score","Average Reading Score",
                                        "% Passing Math","% Passing Reading","Overall Passing rate"]]
scores_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
School Type,,,,,
Charter,83.472500,83.897500,90.361250,90.361250,90.361250
District,76.955714,80.965714,64.302857,64.302857,64.302857

In [25]:
#create bins in which data will be held
bins3 = [0,65, 90.361250]
names3 = ["Low Passing Rate","High Passing rate"]

#categorize the size 
scores_school_type["Overall Passing Rating"] = pd.cut(overall_passing_rate_type, bins3, labels = names3)
scores_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate,Overall Passing Rating
School Type,,,,,,
Charter,83.472500,83.897500,90.361250,90.361250,90.361250,High Passing rate
District,76.955714,80.965714,64.302857,64.302857,64.302857,Low Passing Rate

In [ ]:
#Not sure why each of my overall pass rates for the last 2 dataframes are the same as the reading %